<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
  </head>

  <body>
    <%= render "layouts/shared/navbar" %>
    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
